<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>App</title>

        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

        <style>
            .search em {
                color: cornflowerblue;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
